h1 {
    color: blue;
}

.note {
    color: gray;
    padding: 6px 0;
}

.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
